.footer-container{
    display: flex;
    flex-direction: column;
    right: 0;
    left: 0;
    background-color: cadetblue;
    padding: 20px;
}

.footer-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.footer-icon .icon-png{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* position: relative; */
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(50, 145, 148);
    padding: 5px;
    font-size: 12px;
}

.icon-wrapper{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    width: 25px;
    height: 25px;
    
}

.icon-wrapper .icon-medsos{
    width: 25px;
    height: 25px;
    object-position: center;
    object-fit: cover;    
}