.button{
    cursor: pointer;
    padding: 9px;
    width: 100%;
    background-color: rgb(50, 129, 129);
    border: none;   
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.button:hover{
    background-color: rgb(36, 156, 156);
}