.detail-blog-wrapper{

}

.detail-blog-wrapper .img-cover{
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding-bottom: 5px;
    background-color: grey;
}

.detail-blog-wrapper .blog-title{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #2d2d2d;
    margin-top: 16px;
}

.detail-blog-wrapper .blog-author{
    font-size: 16px;
    color: grey;
    margin: 0;
}

.detail-blog-wrapper .blog-body{
    font-size: 18px;
    line-height: 36px;
    text-align: justify;
}